# Created by .ignore support plugin (hsz.mobi)
.idea
.gitignore
node_modules
package-lock.json
public/css/
public/js/
public/
mix-manifest.json
resources/js/components/
resources/sass/_variables.scss
vendor/laravel/ui/.editorconfig
vendor/laravel/ui/.github/
vendor/laravel/ui/.styleci.yml
vendor/laravel/ui/CHANGELOG.md
vendor/laravel/ui/LICENSE.md
vendor/laravel/ui/README.md
vendor/laravel/ui/SECURITY.md
vendor/laravel/ui/composer.json
vendor/laravel/ui/phpunit.xml.dist
vendor/laravel/ui/src/
public/mix-manifest.json
